.form-container {
  text-align: center;
}

input[type="text"] {
  height: 20px;
  padding-left: 15px;
  margin: 5px;
}

input[type="button"],
input[type="submit"] {
  height: 25px;
  margin-left: 5px;
}
