.article-header {
  background-color: darkblue;
  color: white;
  border: 3px solid transparent;
  text-align: center;
}

.section-content {
  margin-left: 10%;
  margin-right: 10%;
  margin-top: 15px;
}

.add-employee-btn {
  float: right;
  margin-bottom: 5px;
}
