.header {
  height: 70px;
  background-color: darkviolet;
  color: white;
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: larger;
}

.content-section {
  margin-left: 10%;
  margin-right: 10%;
  margin-top: 20px;
}

.main-content {
  margin-top: 20px;
}
